
{% extends 'sitebase.html' %}
{% load i18n %}
    <div class='container'>
      <div class='row'>
        <div class='page-header site-header'>
          <h1>
            {% block header %}
              <a href='{% url games_game_list %}'>
                {% trans "Games" %}
              </a>
            {% endblock %}
          </h1>
        </div>
        <div class='content'>
          <div class='span3'>
            {% block sidebar %}
                <ul class='nav nav-list'>
                  <li class='nav-header'>
                    {% trans "Views" %}
                  </li>
                  <li>
                    <a href='{% url games_game_list %}'>
                      {% trans "List View" %}
                    </a>
                  </li>
                  <li>
                    <a href='{% url games_game_create %}'>
                      {% trans "Create View" %}
                    </a>
                  </li>
                  {% if object %}
                    <li>
                      <a href='{{ object.get_absolute_url }}'>
                        {% trans "Detail View" %}
                      </a>
                    </li>
                    <li>
                      <a href='{% url games_game_update pk=object.pk %}'>
                        {% trans "Update View" %}
                      </a>
                    </li>
                    <li>
                      <a href='{% url games_game_delete pk=object.pk %}'>
                        {% trans "Delete View" %}
                      </a>
                    </li>
                  
                  {% endif %}
                  
                </ul>
            {% endblock %}
          </div>
          <div class='span7'>
            {% block breadcrumbs %}
            {% endblock %}
            <div class='page-header'>
              <h1>
                {% block header-link %}
                {% endblock %}
                <br />
                <small>
                  {% block header-description %}
                  {% endblock %}
                </small>
              </h1>
            </div>
            <div class='content'>
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>

