

{% extends 'games/game/base.html' %}

{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/gamecology/games/templates/games/game/game_detail.html
{% endblock %}

{% block title %}
  {% trans "Game Detail" %}
{% endblock %}



{% block header-link %}
  <a href='{{ object.get_absolute_url }}'>
    {% trans "Game Detail" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A page representing an individual object." %}
{% endblock %}

{% block content %}


  <h1>{{ object.name }} <small> {{ object.category }} </small></h1>
  {{ object.description }}
        {{ object.user }}
  <p>
    <form action='{% url games_game_delete pk=object.pk %}' charset='utf-8' method='post'>
        {% csrf_token %}
        <div class='form-actions'>
          <a class='button btn-success' href='{% url games_game_update pk=object.pk %}'>
            {% trans "Update" %}
          </a>
          <button class='alert button' type='submit'>
            {% trans "Delete" %}
          </button>
        </div>
    </form>
  </p>
{% endblock %}
