

{% extends 'games/game/base.html' %}

{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/gamecology/games/templates/games/game/game_list.html
{% endblock %}

{% block header-link %}
  <a href='{% url games_game_list %}'>
    {% trans "Game List" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A page representing a list of objects." %}
{% endblock %}

{% block content %}
    <!-- First Band (Image) -->
    
  <div class="row">
    <div class="twelve columns">
      <img src="http://placehold.it/1000x400&text=Games%20List" />
      
      <hr />
    </div>
  </div>
  
  {% for object in object_list %}
    <!-- #{{object.id}} Band (Image Left with Text) -->  
    <div class="row">
      <div class="four columns">
        <a href='{{ object.get_absolute_url }}'><img src="http://placehold.it/400x300&text=Game%20Image" /></a>
      </div>
      <div class="eight columns">
        <h3><a href='{{ object.get_absolute_url }}'>{{ object.name }} </a> <small> <a href='{{ object.category.get_absolute_url }}'> {{ object.category }}<a> </small> </h3><p>by {{ object.user }} <p>
        <div class="row">
          <div class="twelve columns">
           
           {{ object.description }}
           
          </div>
        </div>
      </div>
    </div>
    

  {% endfor %}
  
{% endblock %}
