{% extends 'sitebase.html' %}

{% block content %}
<!-- Header and Nav -->
  
  
  <!-- End Header and Nav -->
  
  
  <div class="row">    
    
    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="six columns push-three">
      {% block feed %}
      <!-- Feed Entry -->
      <div class="row">
        <div class="two columns mobile-one"><img src="http://placehold.it/80x80&text=trophy" /></div>
        <div class="ten columns">
          <p><strong>You earnt a new achievement:</strong> Master Bater!</p>
          <ul class="link-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
          </ul>
          
          
          <h6>2 Comments</h6>
          <div class="row">
            <div class="two columns mobile-one"><img src="http://placehold.it/50x50&text=[img]" /></div>
            <div class="ten columns"><p>Wow, I always knew you could do it, how much did you earn this time? Good for you!</p></div>
          </div>
          <div class="row">
            <div class="two columns mobile-one"><img src="http://placehold.it/50x50&text=[img]" /></div>
            <div class="ten columns"><p>My nipples are literally exploding with delight, hello fishy dick.</p></div>
          </div>
        </div>
      </div>
      <!-- End Feed Entry -->
      
      <hr />
      
      <!-- Feed Entry -->
      <div class="row">
        <div class="two columns mobile-one"><img src="http://placehold.it/80x80&text=water" /></div>
        <div class="ten columns">
          <p><strong>Water Aid said:</strong> There are over 6 million people without access to clean water, find out how you can help.</p>
          <ul class="link-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
          </ul>
        </div>
      </div>
      <!-- End Feed Entry -->
      
      <hr />
      
      <!-- Feed Entry -->
      <div class="row">
        <div class="two columns mobile-one"><img src="http://placehold.it/80x80&text=[img]" /></div>
        <div class="ten columns">
          <p><strong>Sally Meat reviewed Pipes:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
          <ul class="link-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
          </ul>
          
          
          <h6>2 Comments</h6>
          <div class="row">
            <div class="two columns mobile-one"><img src="http://placehold.it/50x50&text=[img]" /></div>
            <div class="ten columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
          </div>
        </div>
      </div>
      <!-- End Feed Entry -->
      {% endblock %}
    </div>
    
    

    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="three columns pull-six">
      <div class="panel">
        {% block profile_details %} {% endblock %}
        {% block profile_navigation %} {% endblock %}

      </div>
    </div>
    
    
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="three columns hide-for-small">
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
    </aside>
    
  </div>
    
  
{% endblock %}
  