{% extends 'sitebase.html' %}

{% block content %}
  <!-- First Band (Slider) -->
  <!-- The Orbit slider is initialized at the bottom of the page by calling .orbit() on #slider -->
    
  <div class="row">
    <div class="twelve columns">
      <div id="slider">
        <img src="http://placehold.it/1000x400&text=Tetris" />
        <img src="http://placehold.it/1000x400&text=Pipes" />
        <img src="http://placehold.it/1000x400&text=Example" />
        <img src="http://placehold.it/1000x400&text=Another" />
      </div>
      
    </div>
  </div>
  
  {% if user.is_authenticated %}
    <div class="row">
      <div class="twelve columns">
        <h2 id="loginWelcome"> Welcome {{request.user}}, please click on the links below.</h2>
        <hr />
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="twelve columns">

        <h2 id="loginWelcome"> Welcome to Gamecology</h2>
        <div class="row">
          <div class="four columns">
          </div>
          <div class="four columns">
            <h2 id="loginWelcome">
              <!-- Even Button Groups -->
              <ul class="button-group even three-up">
                <li><a href="/accounts/signin/" class="success button">Login</a></li>
                <li><a href="#" class="secondary button">Facebook</a></li>
                <li><a href="/accounts/register/" class="button">Register</a></li>
              </ul>
            </h2>           
          </div>
          <div class="four columns">
          </div>
        </div>
        <hr />
      </div>
    </div>

  {% endif %}
  <!-- Three-up Content Blocks -->
  
  <div class="row">
  
    <div class="four columns" >
      <img src="http://placehold.it/400x300&text=Give" />
      <h3>Make a difference...</h3>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
    </div>
    
    <div class="four columns">
      <img src="http://placehold.it/400x300&text=Game" />
      <h3>Enjoy yourself...</h3>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. </p>
    </div>
    
    <div class="four columns">
      <img src="http://placehold.it/400x300&text=Score" />
      <h3>Unlock features...</h3>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. </p>
    </div>
    
  </div>
  
 {% endblock %} 

  

{% block extra_js %}
  <!-- Put this above your </body> tag -->
	<script type="text/javascript">
	  $(window).load(function() {
	    $('#slider').orbit();
	  });
	</script>
{% endblock %}