<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-css-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Welcome to Gamecology</title>
	{% load compress %}
    {% compress css %}
		<!-- Included CSS Files -->
		<link rel="stylesheet" href="{{STATIC_URL}}css/app.css">
		{% block extra_css %} {% endblock%}
	{% endcompress %}
	{% compress js %}
		<script src="{{STATIC_URL}}js/foundation/modernizr.foundation.js"></script>
	{% endcompress %}
</head>
<body style="background-image: url('{{STATIC_URL}}img/background.png'); background-size: cover;">

<!-- Header and Nav -->
  
  <div class="row">
    <div class="three columns">
      <h1><a href="/"><img src="{{STATIC_URL}}img/logo2.png" /></a></h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar right">
      	<li><a href="/blog/">Blog</a></li>
        <li><a href="/auto/game/">Games</a></li>
        <li><a href="/about/">About</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="/auto/achievement/">Achievements</a></li>
        <li><a href="/auto/userachievement/">My Achievements</a></li>
        <li><a href="/auto/score/">Scores</a></li>
        <li><a href="/accounts/{{request.user}}/">Profile</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  
  <!-- End Header and Nav -->
  <div class="row">
  		
	  		<div class="twelve columns whiteout">
		  	{% block body %}
			  {% block content %}
			  {% endblock %}
			{% endblock %}
			</div>

		
  </div>
  
  
  <!-- Footer -->
  
  <footer id="footer" class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Gamecology</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
          	<li><b><a href="/blog/">Blog</a></b></li>
            <li><b><a href="/contact/">Contact</a></b></li>
            <li><b><a href="/mission/">Mission</a></b></li>
            <li><b><a href="/legal/">Legal</a></b></li>
            <li><b><a href="/press/">Press</a></b></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>


{% compress js %}
	<!-- Included JS Files (Uncompressed) -->
	<script src="{{STATIC_URL}}js/foundation/jquery.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.magellan.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.buttons.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.forms.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.cookie.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.placeholder.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.mediaQueryToggle.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.event.move.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.joyride.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.tabs.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.alerts.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.reveal.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.orbit.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.tooltips.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.event.swipe.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.navigation.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.clearing.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.topbar.js"></script>
	
	<script src="{{STATIC_URL}}js/foundation/jquery.foundation.accordion.js"></script>
	

  	<!-- Application Javascript, safe to override -->
  	<script src="{{STATIC_URL}}js/foundation/app.js"></script>

  	{% block extra_js %}
	{% endblock %}
{% endcompress %}
</body>
</html>
