

{% load i18n %}

<p>
  {% trans "Click on the primary key value to access the individual Score's page." %}
</p>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        id
      </th>
      
        <th>
          game
        </th>
      
        <th>
          user
        </th>
      
        <th>
          score
        </th>
      
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href='{{ object.get_absolute_url }}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>
        
          <td>{{ object.game }}</td>
        
          <td>{{ object.user }}</td>
        
          <td>{{ object.score }}</td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>
