

{% extends 'games/score/base.html' %}

{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/gamecology/games/templates/games/score/score_list.html
{% endblock %}

{% block header-link %}
  <a href='{% url games_score_list %}'>
    {% trans "Score List" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A page representing a list of objects." %}
{% endblock %}

{% block content %}
  <h2>
    {% trans "Scores" %}
  </h2>
  {% include 'games/score/object_table_list.html' %}
  {% include 'games/score/pagination.html' %}
{% endblock %}
