

{% extends 'games/achievement/base.html' %}

{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/gamecology/games/templates/games/achievement/achievement_detail.html
{% endblock %}

{% block title %}
  {% trans "Achievement Detail" %}
{% endblock %}



{% block header-link %}
  <a href='{{ object.get_absolute_url }}'>
    {% trans "Achievement Detail" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A page representing an individual object." %}
{% endblock %}

{% block content %}
  {% include 'games/achievement/object_table_detail.html' %}
  <form action='{% url games_achievement_delete pk=object.pk %}' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <a class='btn btn-success' href='{% url games_achievement_update pk=object.pk %}'>
          {% trans "Update" %}
        </a>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
