

{% extends 'sitebase.html' %}
{% load i18n %}
{% block body %}
<div class='row'>
  <div class='three columns'>
    {% block sidebar %}
        <ul class='nav nav-list'>
          <li class='nav-header'>
            {% trans "Views" %}
          </li>
          <li>
            <a href='{% url games_achievement_list %}'>
              {% trans "List View" %}
            </a>
          </li>
          <li>
            <a href='{% url games_achievement_create %}'>
              {% trans "Create View" %}
            </a>
          </li>
          {% if object %}
            <li>
              <a href='{{ object.get_absolute_url }}'>
                {% trans "Detail View" %}
              </a>
            </li>
            <li>
              <a href='{% url games_achievement_update pk=object.pk %}'>
                {% trans "Update View" %}
              </a>
            </li>
            <li>
              <a href='{% url games_achievement_delete pk=object.pk %}'>
                {% trans "Delete View" %}
              </a>
            </li>
          
          {% endif %}
          
        </ul>
    {% endblock %}
  </div>
  <div class='nine columns'>
    {% block breadcrumbs %}
    {% endblock %}
      <h1>
        {% block header-link %}
        {% endblock %}
        <br />
        <small>
          {% block header-description %}
          {% endblock %}
        </small>
      </h1>

      {% block content %}
      {% endblock %}
  </div>
</div>

{% endblock %}