

{% load i18n %}

<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        id
      </th>
      
        <th>
          game
        </th>
      
        <th>
          name
        </th>
      
        <th>
          required_score
        </th>
      
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href='{{ object.get_absolute_url }}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>
        
          <td>{{ object.game }}</td>
        
          <td>{{ object.name }}</td>
        
          <td>{{ object.required_score }}</td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>
