-extends 'layout_jumbo.haml' 
/ Change to sitebase.html if you wish

-load i18n

-block jumbo_title
  Piemonster

-block jumbo_tagline
  This is a starter template, it uses a different layout to any other templates you may be using. If you would like to see these other templates please change this template to extend 'sitebase.html' and change the tag extra_jumbo to extra_content


-block extra_jumbo  
/ If using sitebase.html set to content, if using layout_jumbo.html set to extra_jumbo
  %p
    %a.btn.btn-primary.btn-large{:href => "/"} Get Started
  %ul.masthead-links
    %li
      %a{:href => "http://github.com/piemonster"} Piemonster
    %li
      %a{:href => "/admin/"} Admin
    %li
      %a{:href => "/"} Help

-block footer
  -trans "Edit this template file in:"
  %code{:style => "background-color:transparent;"} -filename the root templates directory!