!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %title 
          -block header_title
        %meta{:content => "{% block meta_description %} description of the page. {% endblock %}", :name => "description"}
        %meta{:content => "{% block meta_keywords %} Basic, Keywords, About, The, Site {% endblock %}", :name => "keywords"}
        %meta{:content => "{% block meta_author%} Chris Franklin {% endblock %}", :name => "author"}
        %meta{:content => "width=device-width", :name => "viewport"}
        
        -load compress 
        -compress css
          %link{:href => "bootstrap/css/bootstrap.css", :rel => "stylesheet"}
          :css
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
          %link{:href => "bootstrap/css/bootstrap-responsive.css", :rel => "stylesheet"}
          %link{:href => "css/main.css", :rel => "stylesheet"}
          -block extra_style
        -compress js
          %script{:src => "js/modernizr2.6.2.js"}

  %body
    -block body

      -block menu_block
        #nav-outer.navbar.navbar-inverse.navbar-fixed-top
          #nav-inner.navbar-inner
            #nav-container.container
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.brand{:href => "#"} Project name
              .nav-collapse.collapse
                %ul.nav
                  -block menu
                    %li.active
                      %a{:href => "#"} Home
                    %li
                      %a{:href => "#about"} About
                    %li
                      %a{:href => "#contact"} Contact
                    %li.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                        Dropdown
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          %a{:href => "#"} Action
                        %li
                          %a{:href => "#"} Another action
                        %li
                          %a{:href => "#"} Something else here
                        %li.divider
                        %li.nav-header Nav header
                        %li
                          %a{:href => "#"} Separated link
                        %li
                          %a{:href => "#"} One more separated link
                    -block menu_extra
                %form#nav-login.navbar-form.pull-right
                  %input.span2{:placeholder => "Email", :type => "text"}
                    %input.span2{:placeholder => "Password", :type => "password"}
                      %button.btn{:type => "submit"} Sign in
      .container
        / Main Content Area
        -block content
          %p This is default content
        %p this is some extra content


        %hr
          %footer
            -block footer
            %p © Company 2012

      / External CDN Scripts
      %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
      / End External CDN Scripts
      -compress js     
        -block extra_js
      
               
      