

{% extends 'games/userachievement/base.html' %}

{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/gamecology/games/templates/games/userachievement/userachievement_list.html
{% endblock %}

{% block header-link %}
  <a href='{% url games_userachievement_list %}'>
    {% trans "UserAchievement List" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A page representing a list of objects." %}
{% endblock %}

{% block content %}
  <h2>
    {% trans "UserAchievements" %}
  </h2>
  {% include 'games/userachievement/object_table_list.html' %}
  {% include 'games/userachievement/pagination.html' %}
{% endblock %}
