{% extends 'feed-template.html' %}
{% load i18n %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block contento %}
  <div class="">
    


      {% block profile_details %}
        <img width="100%" class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
        {% if profile.user.get_full_name %}
          <h5>{{ profile.user.get_full_name }}</h5>
        {% else %}
          <h5>{{ profile.user }}</h5>
        {% endif %}


      {% endblock %}


    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      {% if user.username == profile.user.username %}

          {% block profile_navigation_items %}
                 <dl class="vertical tabs">
                    <dd><a href='{% url userena_profile_detail user.username %}'>{% trans "View profile" %}</a></dd>
                    <dd><a href='{% url userena_profile_edit user.username %}'>{% trans "Edit details" %}</a></dd>
                    <dd><a href='{% url userena_password_change user.username %}'>{% trans "Change password" %}</a></dd>
                    <dd><a href='{% url userena_email_change user.username %}'>{% trans "Change email" %}</a></dd>
                  </dl>

                  
          
          {% endblock %}

      {% endif %}
    {% endblock %}
  </div>
{% endblock %}

{% block feed %}
  {% for entry in actstream %}
      <!-- Feed Entry -->
      <div class="row">
        <div class="two columns mobile-one"><img src="http://placehold.it/80x80&text=trophy" /></div>
        <div class="ten columns">
          <p>{{entry}}</p>
          <ul class="link-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
          </ul>
          
          
          <!-- <h6>2 Comments</h6>
          <div class="row">
            <div class="two columns mobile-one"><img src="http://placehold.it/50x50&text=[img]" /></div>
            <div class="ten columns"><p>Wow, I always knew you could do it, how much did you earn this time? Good for you!</p></div>
          </div>
          <div class="row">
            <div class="two columns mobile-one"><img src="http://placehold.it/50x50&text=[img]" /></div>
            <div class="ten columns"><p>My nipples are literally exploding with delight, hello fishy dick.</p></div>
          </div> -->
        </div>
      </div>
      <!-- End Feed Entry -->
      </hr>
  {% endfor %}
{% endblock %}