

{% extends 'games/gamecategory/base.html' %}

{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/gamecology/games/templates/games/gamecategory/gamecategory_list.html
{% endblock %}

{% block header-link %}
  <a href='{% url games_gamecategory_list %}'>
    {% trans "GameCategory List" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A page representing a list of objects." %}
{% endblock %}

{% block content %}
  <h2>
    {% trans "GameCategorys" %}
  </h2>
  {% include 'games/gamecategory/object_table_list.html' %}
  {% include 'games/gamecategory/pagination.html' %}
{% endblock %}
