

{% extends 'games/gamecategory/base.html' %}

{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/gamecology/games/templates/games/gamecategory/gamecategory_confirm_delete.html
{% endblock %}

{% block title %}
  {% trans "GameCategory Confirm Delete" %}
{% endblock %}

{% block header-link %}
  <a href='{% url games_gamecategory_delete pk=object.pk %}'>
    {% trans "GameCategory Confirm Delete" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A view that displays a confirmation page (on GET) and deletes an existing object (on POST)." %}
{% endblock %}

{% block content %}
  <h2>
    {% trans "Delete this GameCategory?" %}
  </h2>
  <br />
  {% include 'games/gamecategory/object_table_detail.html' %}
  <form action='' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
