

{% extends 'games/review/base.html' %}

{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/gamecology/games/templates/games/review/review_list.html
{% endblock %}

{% block header-link %}
  <a href='{% url games_review_list %}'>
    {% trans "Review List" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A page representing a list of objects." %}
{% endblock %}

{% block content %}
  <h2>
    {% trans "Reviews" %}
  </h2>
  {% include 'games/review/object_table_list.html' %}
  {% include 'games/review/pagination.html' %}
{% endblock %}
